* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: scale ease .5s;

}


.container {
    background: #D6E1F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card-box {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background: #FDFFFF;
    width: 1000px;
    height: 480px;
    box-shadow: 12px 12px 20px #0000006d;
}

.card-box .card-qr {
    padding: 80px 50px;
    width: 100%;
    /* height: 300px; */
}

.card-box .card-qr img {
    width: 300px;
    border-radius: 12px;
}

.card-box .card-qr img:hover {
    scale: 0.95;
}

.card-box .card-text {
    padding: 80px;
}

.card-box .card-text h1 {
    font-size: 25px 0;
}

.card-box .card-text h1 span {
    font-size: 22px;
    color: #2573e0;
    cursor: pointer;
}

.card-box .card-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 0;
    font-size: 20px;
}

.card-box .card-text p a {
    color: #2573e0;
    text-decoration: none;

}

@media (max-width:950px) {
    * {
        transition: none;
    }

    .card-box {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 550px;
    }

    .card-box .card-qr {
        padding: 20px 40px;
    }

    .card-box .card-qr img {
        width: 250px;
    }

    .card-box .card-text {
        padding: 10px 50px;
    }

    .card-box .card-text h1 {
        font-size: 20px;
    }

    .card-box .card-qr img:hover {
        scale: none;
    }

    .card-box .card-text h1 span {
        text-decoration: underline wavy rgba(72, 68, 68, 0.647);
        font-size: 18px;
        color: #2573e0;
        cursor: pointer;
    }

    .card-box .card-text p {
        padding: 40px 0;
        font-size: 15px;
    }

}